@import url(../../constants/globalVariables.css);

.movies {
  padding: var(--side-padding);
  padding-top: 144px;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 43px;
  opacity: 0.2;
  background-color: #aaaaaa;
}