@import url(../../../constants/globalVariables.css);

.aboutProject {
  padding: var(--side-padding);
  padding-top: 110px;
  padding-bottom: 110px;
}

.textBlock {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}

.textBlock__section {
  display: flex;
  gap: 26px;
  flex-direction: column;
  width: calc(550 / 1280 * 100vw);
}

.textBlock__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.textBlock__title {
  letter-spacing: -0.8px;
  font-size: 20px;
  line-height: normal;
}

.infoGrid {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

.infoGrid__element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  margin: 0;
  height: 36px;
  color: #8b8b8b;
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
}

.infoGrid__element_green {
  background-color: var(--accent-color);
  color: #000;
  font-weight: 400;
  line-height: normal;
}

.infoGrid__element_grey {
  background-color: #303030;
  color: var(--main-color);
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .aboutProject {
    padding: 90px 50px 76px;
  }

  .textBlock {
    column-gap: 30px;
    row-gap: 22px;
  }

  .textBlock__text {
    font-size: 12px;
    line-height: 18px;
  }

  .textBlock__title {
    font-size: 20px;
    line-height: normal;
  }

  .infoGrid {
    margin-top: 93px;
  }
}

@media (max-width: 350px) {
  .aboutProject {
    padding: 70px 18px;
  }

  .textBlock {
    margin-top: 60px;
    flex-direction: column;
    gap: 56px;
  }

  .textBlock__section {
    width: 100%;
    gap: 16px;
  }

  .infoGrid {
    margin-top: 60px;
    grid-template-columns: 100px 184px;
  }

  .infoGrid__element {
    font-size: 11px;
    line-height: normal;
  }
}
