@import url(../../../constants/globalVariables.css);

.portfolio {
  background-color: var(--main-background-color);
  padding: var(--side-padding);
  padding-top: 100px;
  padding-bottom: 115px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #8b8b8b;
}

.projects {
  margin: 50px 0 0;
  padding: 0;
}
