@import url(../../constants/globalVariables.css);

.header {
  padding: var(--side-padding);
  width: calc(100% - 140px);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  height: 74px;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  min-width: 38px;
}

.header__logo:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
    width: calc(100% - 60px);
  }
}