@import url(../../constants/globalVariables.css);

.authorizationField__title {
  margin: 24px 0 5px;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.authorizationField__input {
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
  color: var(--main-color);
  width: 100%;
  border-bottom: 1px solid #424242;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.authorizationField__input:focus {
  border-bottom: 1px solid #4285f4;
}
