@import url(../../constants/globalVariables.css);

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--main-background-color) inset;
  -webkit-text-fill-color: var(--main-color);
  caret-color: var(--main-color);
}

.authorizationField__title {
  display: inline-block;
  margin: 24px 0 5px;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.authorizationField__input {
  border: none;
  background-color: transparent;
  padding: 0 0 9px;
  color: var(--main-color);
  width: 100%;
  border-bottom: 1px solid #424242;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.authorizationField__input_invalid {
  color: #ee3465;
  border-bottom: 1px solid #ee3465;
}

.authorizationField__input:focus {
  border-bottom: 1px solid #4285f4;
}
